@{
    ViewBag.Title = "ShopHoa";
    Layout = "~/Views/Shared/_LayoutClient2.cshtml";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Chào mừng bạn đến với shop hoa của chúng tôi - nơi tinh tế và đẹp nhất để thể hiện tình cảm và gửi đi những ý nghĩa đặc biệt. Tại đây, chúng tôi tự hào mang đến cho quý khách hàng những bó hoa tinh tế và độc đáo, được thiết kế bởi những nghệ nhân hoa tài năng.</p>
    <p>Chúng tôi hiểu rằng mỗi dịp đặc biệt đều cần một phong cách riêng biệt, vì vậy chúng tôi luôn nỗ lực để tạo ra những sản phẩm phản ánh đúng cảm xúc và ý nghĩa của bạn. Từ những bông hoa tươi sáng, đến những loại hoa lạ mắt và cả những phụ kiện trang trí độc đáo, chúng tôi cam kết mang đến trải nghiệm mua sắm hoa tuyệt vời nhất cho bạn.</p>
    <p>Đến với chúng tôi, bạn không chỉ mua những bó hoa đẹp mắt mà còn làm nổi bật mọi dịp kỷ niệm và làm đặc sắc không gian sống của bạn. Hãy để chúng tôi biến những khung cảnh hàng ngày thành những khoảnh khắc đáng nhớ và ý nghĩa.</p>
    <p>
        Hãy đến và khám phá thế giới hoa tươi mới tại shop của chúng tôi - nơi tinh tế hóa đẹp và truyền cảm hứng cho cuộc sống của bạn.
    </p>
</main>